*, *::after, *::before {
    box-sizing: border-box;
}

popup-block {
    position: absolute;
    z-index: 10;
    margin: auto;
    width: 10%;
    height: 10%;
    border: 3px #c7012c;
    padding: 10px;
    background: #c70108;
    text-align: center;

    /*animation-name: grow-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes grow-in {
    from {width: 10%; height: 10%}
    to {width: 40%; height: 40%}*/
}

popup-button {
    width: 250px;
    height: 80px;
    background-color: #a23535;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

table, th, td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}