<!DOCTYPE html>
<html xmlns:th="www.http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5"/>
    <title>Aanwezigheid</title>
    <link rel="stylesheet" href="../cssfiles/Display3.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>

<!--=================================POP-UP==========================================================================-->
<div hidden="hidden" id="contact-popup" class="popup-block">
    <table Class="table" style="font-family:'Courier New', Courier, monospace; font-size:50%">
        <tbody>
        <tr>
            <td id="contact-message" style="text-align:center"></td>
        </tr>
        </tbody>
    </table>
</div>
<div hidden="hidden" id="select-popup" class="popup-block">
    <table Class="table" style="font-family:'Courier New', Courier, monospace; font-size:50%">
        <tbody>
        <tr>
            <td class="p-3 mb-2 bg-success text-white"><button onclick="confirmStatus('Present')" style="background: transparent; border:none;">Aanwezig</button></td>
            <td class="p-3 mb-2 bg-danger text-white"><button onclick="confirmStatus('DontInterrupt')" style="background: transparent; border:none;">Niet storen</button></td>
            <td class="p-3 mb-2 bg-warning text-dark"><button onclick="confirmStatus('Expected')" style="background: transparent; border:none;">Binnenkort terug</button></td>
            <td class="p-3 mb-2 bg-secondary text-white"><button onclick="confirmStatus('Absent')" style="background: transparent; border:none;">Afwezig</button></td>
        </tr>
        </tbody>
    </table>
</div>
<dialog id="dialog" hidden="hidden" onclick="toggleDialog()"> <!--Om dialoog te sluiten, op het dialoogvenster drukken-->
    <p>Test popup</p>
</dialog>
<!--=================================3-KOLOM-LAYOUT==================================================================-->
<div class="container-fluid" style="width: 100%; height: 100%">
    <p class="h1" style="text-align: center">Aanwezigheidsbord docentenkamer</p>
</div>

<div class="container-fluid" style="width: 100%; height: 100%;">
    <table Class="table" id="employeestablecolumn1" style="width: 33%; float: left; font-family:'Courier New', Courier, monospace; font-size:50%;">
        <thead>
            <tr>
                <th><p class="h5">Naam</p></th>
                <th>  </th>
                <th><p class="h5">Status</p></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${employeecolumn1.size() == 0}">
                <td><p class="h5">Geen medewerkers gevonden</p></td>
            </tr>
            <tr th:each="employee : ${employeecolumn1}" th:if="${employeecolumn1.size() > 0}">
                    <td style="width: 10%;"><p class="h6" th:text="${employee.Name}"></p></td>
                    <td style="height: 5%; width: 5%;"><img th:src="@{pictures/menu-icon.jpg}" alt="" th:attr="onclick='extraInfo(\'' + ${employee.getID()} + '\',\'' + ${employee.getName()} + '\',\'' + ${employee.getEmail()} + '\');'" style="max-height:100%; max-width:100%"></td>
                    <td style="width: 20%;" th:switch="${employee.Status}">
                        <button th:case="Present" class="btn btn-success text-white" th:attr="onclick='showStatusButtons(\'' + ${employee.getID()}+  '\');'">Aanwezig</button>
                        <button th:case="DontInterrupt" class="btn btn-danger text-white" th:attr="onclick='showStatusButtons(\'' + ${employee.getID()}+  '\');'">Niet storen</button>
                        <button th:case="Expected" class="btn btn-warning text-dark" th:attr="onclick='showStatusButtons(\'' + ${employee.getID()}+  '\');'">Binnenkort verwacht</button>
                        <button th:case="Absent" class="btn btn-secondary text-white" th:attr="onclick='showStatusButtons(\'' + ${employee.getID()}+  '\');'">Afwezig</button>
                    </td>
            </tr>
        </tbody>
    </table>
    <table Class="table" id="employeestablecolumn2" style="width: 33%; float: left; font-family:'Courier New', Courier, monospace; font-size:50%">
        <thead>
        <tr>
            <th><p class="h5">Naam</p></th>
            <th>  </th>
            <th><p class="h5">Status</p></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${employeecolumn2.size() == 0}">
            <td><p class="h5">Geen medewerkers gevonden</p></td>
        </tr>
        <tr th:each="employee : ${employeecolumn2}" th:if="${employeecolumn2.size() > 0}">
            <td style="width: 10%;"><p class="h6" th:text="${employee.Name}"></p></td>
            <td style="height: 5%; width: 5%;"><img th:src="@{pictures/menu-icon.jpg}" alt="" th:attr="onclick='extraInfo(\'' + ${employee.getID()} + '\',\'' + ${employee.getName()} + '\',\'' + ${employee.getEmail()} + '\');'" style="max-height:100%; max-width:100%"></td>
            <td style="width: 20%;" th:switch="${employee.Status}">
                <button th:case="Present" class="btn btn-success text-white" th:attr="onclick='showStatusButtons(\'' + ${employee.getID()}+  '\');'">Aanwezig</button>
                <button th:case="DontInterrupt" class="btn btn-danger text-white" th:attr="onclick='showStatusButtons(\'' + ${employee.getID()}+  '\');'">Niet storen</button>
                <button th:case="Expected" class="btn btn-warning text-dark" th:attr="onclick='showStatusButtons(\'' + ${employee.getID()}+  '\');'">Binnenkort verwacht</button>
                <button th:case="Absent" class="btn btn-secondary text-white" th:attr="onclick='showStatusButtons(\'' + ${employee.getID()}+  '\');'">Afwezig</button>
            </td>
        </tr>
        </tbody>
    </table>
    <table Class="table" id="employeestablecolumn3" style="width: 33%; float: left; font-family:'Courier New', Courier, monospace; font-size:50%">
        <thead>
        <tr>
            <th><p class="h5">Naam</p></th>
            <th>  </th>
            <th><p class="h5">Status</p></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${employeecolumn3.size() == 0}">
            <td><p class="h5">Geen medewerkers gevonden</p></td>
        </tr>
        <tr th:each="employee : ${employeecolumn3}" th:if="${employeecolumn3.size() > 0}">
            <td style="width: 10%;"><p class="h6" th:text="${employee.Name}"></p></td>
            <td style="height: 5%; width: 5%;"><img th:src="@{pictures/menu-icon.jpg}" alt="" th:attr="onclick='extraInfo(\'' + ${employee.getID()} + '\',\'' + ${employee.getName()} + '\',\'' + ${employee.getEmail()} + '\');'" style="max-height:100%; max-width:100%"></td>
            <td style="width: 20%;" th:switch="${employee.Status}">
                <button th:case="Present" class="btn btn-success text-white" th:attr="onclick='showStatusButtons(\'' + ${employee.getID()}+  '\');'">Aanwezig</button>
                <button th:case="DontInterrupt" class="btn btn-danger text-white" th:attr="onclick='showStatusButtons(\'' + ${employee.getID()}+  '\');'">Niet storen</button>
                <button th:case="Expected" class="btn btn-warning text-dark" th:attr="onclick='showStatusButtons(\'' + ${employee.getID()}+  '\');'">Binnenkort verwacht</button>
                <button th:case="Absent" class="btn btn-secondary text-white" th:attr="onclick='showStatusButtons(\'' + ${employee.getID()}+  '\');'">Afwezig</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script th:inline="javascript">
/*<![CDATA[*/
    let selectedEmployeeId = "";

    //if (this.document.location.href.includes("?noButton")){
    //   this.document.getElementById("update-popup").hidden = true;
    //    window.onload = function() {update();}
    //}

    async function show (employeemail) { toggleDialog(employeemail); }

    function showStatusButtons(employeeId){
        const isCurrentlyVisible = document.getElementById("select-popup").hidden;
        if (isCurrentlyVisible) { document.getElementById("select-popup").hidden = false; } else {
            document.getElementById("select-popup").hidden = true;
        }
        selectedEmployeeId = employeeId;
    }
    function confirmStatus(_status){
        let boolstatus = false; //is afwezig
        let boolinterrupt = true; //mag medewerker onderbreken
        //bepalen of status wel of niet aanwezig is (true/false)
        if(_status=="Present" || _status=="DontInterrupt"){boolstatus=true;} else {boolstatus=false;}
        if(_status=="DontInterrupt"){boolinterrupt=false}
        let stringstatus = boolstatus.toString();
        let stringinterrupt = boolinterrupt.toString();
        document.getElementById("select-popup").hidden = true;

        //update presence
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
            }
        };
        xhttp.open("POST", "http://20.107.121.203/api/beacon/presence/update", true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.setRequestHeader("automaticPost", "false");
        let dataPresence = JSON.stringify({appid:selectedEmployeeId,presence:stringstatus});
        let dataDisturbance = JSON.stringify({appid:selectedEmployeeId,disturbType:stringinterrupt});
        xhttp.send(dataPresence);

        //update disturbance
        let yhttp = new XMLHttpRequest();
        yhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
            }
        };
        yhttp.open("POST", "http://20.107.121.203/api/aanwezigheid/disturb", true);
        yhttp.setRequestHeader("Content-Type", "application/json");
        yhttp.send(dataDisturbance);
    }

    function displaymessage(message){
        alert(message);
    }

    function extraInfo(employeeId, employeeName, employeeMail){
        toggleDialog("Naam: " +  employeeName + "\n" +
            "E-mail: " + employeeMail);
    }

    function toggleDialog(text)
    {
        const hidden = document.getElementById('dialog').hidden;
        document.getElementById('dialog').innerText = text;
        if (hidden) {document.getElementById('dialog').hidden = false;} else {document.getElementById('dialog').hidden = true;}
    }

    async function welcome(employeeName)
    {
        //functie is geïmplementeerd, maar heeft nog geen trigger
        document.getElementById("contact-popup").hidden = false;
        document.getElementById("contact-message").innerHTML = "Welcome " + employeeName.toString();
        await new Promise(resolve => setTimeout(resolve, 5000));
        document.getElementById("contact-popup").hidden = true;
        document.getElementById("contact-message").innerHTML = "";
        //Usage:    th:attr="onclick='welcome(\'' + ${employee.getName()}+  '\');'"
    }

    //
    //async function update()
    //{
    //    var mainURL = /*[[${refresh_url}]]*/ 'localhost';
    //    let refreshUrl = 'http://' + mainURL + ':9090/Employee/StartUpdate';
    //    //let refreshUrl = 'http://localhost:9090/Employee/StartUpdate';
    //    let w = window.open(refreshUrl,"data");
    //    w.blur();
    //    window.focus();
    //    await delay(300);
    //    w.focus()
    //    w.close();
    //    if (! this.document.location.href.includes("?noButton")){
    //        this.document.location.href = this.document.location.href + "?noButton";
    //        this.document.getElementById("update-popup").hidden = true;
    //    } else {
    //        this.document.getElementById("update-popup").hidden = true;
    //    }
    //}

    const delay = ms => new Promise(res => setTimeout(res, ms));


/*]]*/
</script>
</body>
</html>
